<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>awebredis</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css.map">
</head>
<body>
{% with %}
    {% include 'nav.html' %}
{% endwith %}
<section class="section">
    <div class="container is-fluid">
        <h2>Redis is unreachable</h2>
    </div>
</section>
</body>
</html>